@import './variables';
@import './mixins';
html {
    box-sizing: border-box;
}


/*
*,
*:before,
*:after {
    box-sizing: inherit;
}

*/

body {
    margin: 0;
    padding: 0;
    font-family: $bodyFontFamily;
    font-weight: $bodyFontWeight;
    font-size: $fontSize;
    @include mobile {
        font-size: 1rem;
    }
}