//colors 
$primaryColor:hsl(322, 100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan:hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$colorWhite: #ffff; //typography
$fontSize: 1.125rem;
$headingsFontFamily: 'Poppins',
sans-serif;
$headingsFontWeight: 600;
$bodyFontFamily: 'Open Sans',
sans-serif;
$bodyFontWeight: 400;
$bodyFontWeightTwo: 700;
//images